@import url("../abstracts/index.css");
body,
#root {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--clr-bg);
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  letter-spacing: 0.5px;
  display: flex;
  flex-direction: column;
  text-wrap: pretty;
}

h1,
h2,
h3,
h4 {
  color: var(--clr-text);
  font-weight: var(--fw-bold);
}
