/* :root {
  --clr-text: hsl(218, 87%, 9%);
  --clr-bg: hsl(215, 85%, 95%);
  --clr-border: hsl(215, 85%, 90%);
  --clr-primary: hsl(216, 70%, 33%);
  --clr-secondary: hsl(185, 100%, 25%);
  --clr-accent: hsl(329, 87%, 43%);
  --clr-white: #fff;
  --clr-destructive: #e63946;
} */

/* :root {
  --clr-text: hsl(214, 88%, 3%);
  --clr-bg: hsl(218, 80%, 98%);
  --clr-border: hsl(215, 85%, 90%);
  --clr-primary: hsl(216, 70%, 33%);
  --clr-secondary: hsl(277, 83%, 73%);
  --clr-accent: hsl(302, 82%, 62%);
  --clr-white: #fff;
  --clr-destructive: #e63946;
} */

:root {
  --clr-text: hsl(207, 82%, 2%);
  --clr-bg: hsl(214, 78%, 96%);
  --clr-border: hsl(214, 78%, 86%);
  --clr-primary: hsl(208, 81%, 55%);
  --clr-secondary: hsl(292, 81%, 71%);
  --clr-accent: hsl(320, 81%, 61%);
  --clr-white: hsl(0, 0%, 98%);
  --clr-destructive: #e63946;

  --gradient-1: hsla(208, 81%, 55%, 0.1);
  --gradient-2: hsla(277, 83%, 73%, 0.3);
  --gradient-3: hsla(302, 82%, 62%, 0.3);
}
