.tooltip {
  position: relative;
  display: inline-block;
}

.tooltipText {
  visibility: hidden;
  background-color: var(--clr-secondary);
  color: var(--clr-text);
  text-align: center;
  border-radius: var(--radius-lg);
  padding-block: 0.5rem;
  padding-inline: 0.75rem;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
  font-weight: var(--fw-medium);
  font-size: var(--fs-sm);
  letter-spacing: 0.1rem;
  border: 1px solid var(--clr-border);
  white-space: nowrap;
  display: inline-block; /* Ensures width adjusts to text */
}

.tooltip:hover .tooltipText {
  visibility: visible;
  opacity: 1;
}
