@import url("../ui/button/button.module.css");

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: clamp(0.5rem, 2.5% + 0.5rem, 5rem);
  background-color: var(--clr-bg);
  filter: brightness(0.925);
  border-bottom: 1px solid var(--clr-border);

  .logoContainer {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  h1 {
    color: var(--clr-text);
    font-size: var(--fs-xl);
  }
  .logo {
    color: var(--clr-text);
  }

  nav {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}

.linkBtn {
  composes: styledBtn;
}
