.button {
  color: var(--clr-text);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--clr-text);
  border-radius: var(--radius-md);
  height: 2rem;
  padding-inline: 1rem;
}

.styledBtn {
  composes: button;
  border: none;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding-block: 1.15rem;
  padding-inline: 1.5rem;
  border-radius: var(--radius-lg);
  transition: filter 0.5 ease;
}

.styledBtn[data-variant="primary"] {
  background-color: var(--clr-primary);
}

.styledBtn[data-variant="secondary"] {
  background-color: var(--clr-secondary);
}

.styledBtn:hover {
  filter: brightness(1.15);
}

.styledBtn:disabled {
  filter: opacity(0.7);
}
